:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
display: flex;
justify-content: right;
padding-left: 10px;
padding-right: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  margin-left: 10px;
  margin-right: 10px;
}

.square {
  border: solid;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}


/*MOSAIC TEMPLATE*/
.mosaicContainer {
  border: solid;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mosaicSquare1 {
  width: 40vw;
  height: 20vw;

}

.mosaicSquare2 {
  width: 16vw;
  height: 20vw;
  
}

.mosaicSquare3 {
  width: 24vw;
  height: 20vw;
  
}

.mosaicSquare4 {
  width: 22.5vw;
  height: 20vw;
  
}

.mosaicSquare5 {
  width: 14vw;
  height: 20vw;

}

.mosaicSquare6 {
  width: 19vw;
  height: 20vw;
  
}

.mosaicSquare7 {
  width: 22.5vw;
  height: 20vw;
  
  
}

.mosaicSquare8 {
  width: 41vw;
  height: 20vw;
  
}
.mosaicSquare9 {
  width: 41.5vw;
  height: 20vw;

}

.mosaicSquare10 {
  width: 31vw;
  height: 20vw;
  
}

.mosaicSquare11 {
  width: 18.5vw;
  height: 20vw;
  
}

.mosaicSquare12 {
  width: 31vw;
  height: 20vw;
  
}

/*DESCENDING SCALE TEMPLATE*/

.alternatingScaleContainer {
  border: solid;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.asSquare1 {
  width: 40vw;
  height: 20vw;

}

.asSquare2 {
  width: 25vw;
  height: 20vw;
  
}

.asSquare3 {
  width: 15vw;
  height: 20vw;
  
}

.asSquare4 {
  width: 15vw;
  height: 20vw;
  
}

.asSquare5 {
  width: 25vw;
  height: 20vw;
  
}

.asSquare6 {
  width: 40vw;
  height: 20vw;
  
}

.asSquare7 {
  width: 40vw;
  height: 20vw;
  
}

.asSquare8 {
  width: 25vw;
  height: 20vw;
  
}
.asSquare9 {
  width: 15vw;
  height: 20vw;

}

.asSquare10 {
  width: 15vw;
  height: 20vw;
  
}

.asSquare11 {
  width: 25vw;
  height: 20vw;
  
}

.asSquare12 {
  width: 40vw;
  height: 20vw;
}





/*DESCENDING SCALE TEMPLATE 2*/

.descendingScale2Container {
  border: solid;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.ds2Square1 {
  width: 40vw;
  height: 20vw;

}

.ds2Square2 {
  width: 25vw;
  height: 20vw;
  
}

.ds2Square3 {
  width: 15vw;
  height: 20vw;
  
}

.ds2Square4 {
  width: 84.5vw;
  height: 20vw;
  
}

.ds2Square5 {
  width: 40vw;
  height: 20vw;

}

.ds2Square6 {
  width: 25vw;
  height: 20vw;
  
}

.ds2Square7 {
  width: 15vw;
  height: 20vw;
  
}

.ds2Square8 {
  width: 84.5vw;
  height: 20vw;
  
}
.ds2Square9 {
  width: 40vw;
  height: 20vw;

}

.ds2Square10 {
  width: 25vw;
  height: 20vw;
  
}

.ds2Square11 {
  width: 15vw;
  height: 20vw;
  
}

.ds2Square12 {
  width: 84.5vw;
  height: 20vw;
  
}


/*VERTICAL ALTERNATING SQUARES 1*/

.vas1Container {
  border: solid;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.vas1Square1 {
  width: 20vw;
  height: 20vw;

}

.vas1Square2 {
  width: 40vw;
  height: 20vw;
  
}

.vas1Square3 {
  width: 20vw;
  height: 20vw;
  
}

.vas1Square4 {
  width: 84.5vw;
  height: 20vw;
  
}

.vas1Square5 {
  width: 20vw;
  height: 20vw;

}

.vas1Square6 {
  width: 40vw;
  height: 20vw;
}

.vas1Square7 {
  width: 20vw;
  height: 20vw;
  
}

.vas1Square8 {
  width: 84.5vw;
  height: 20vw;
  
}
.vas1Square9 {
  width: 20vw;
  height: 20vw;

}

.vas1Square10 {
  width: 40vw;
  height: 20vw;
  
}

.vas1Square11 {
  width: 20vw;
  height: 20vw;
  
}

.vas1Square12 {
  width: 84.5vw;
  height: 20vw;
  
}

/*Kaleidescope*/
.kldsContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideUp {
  0% {
    transform: translateY(50vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideUp {
  0% {
    transform: translateY(50vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideLeft{
  0% {
    transform: translateX(150vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideRight {
  0% {
    transform: translateX(-150vw)
  }
  100% {
    transform: translateX(0vw)
  }

}




.kldsSquare1 {
  width: 30vw;
  height: 20vw;
  border: none;

}

.kldsSquare2 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: red;
  animation: slideDown 3s linear;
  
}

.kldsSquare3 {
  width: 30vw;
  height: 20vw;
  border: none;
  
}

.kldsSquare4 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: blue;
  animation: slideRight 3s linear;
}

.kldsSquare5 {
  width: 30vw;
  height: 30vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 600;
  animation: textAppear 3s linear

}

.kldsSquare6 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: yellow;
  animation: slideLeft 3s linear;
}

.kldsSquare7 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: green;
  animation: slideUp 3s linear;
  
}


/*Horizontal Alternating Squares*/
.hasContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #9db7c9;
  background-color: #d8dee3;
}

.hasSquare1 {
  width: 20vw;
  height: 20vw;
  border: none;
}

.hasSquare2 {
  width: 30vw;
  height: 30vw;
  border: none;
}

.hasSquare3 {
  width: 20vw;
  height: 20vw;
  border: none;
}



/*Big Box 1*/

.bbHeading {
  position: absolute;
  left: 1vw;
  color: white;
}

.bbNav {
  position: absolute;
  right: 1vw;
  top: 3vw;
  color: white;
}

.bbsquare {
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bbContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100vw;
  margin-top: 0;
}

.bbSquare1 {
  width: 100vw;
  border: none;
  height: 60vw;
}

.bbSquare2 {
  width: 49vw;
  height: 40vw;
  animation: slideright 5s linear;
}

.bbSquare3 {
  width: 49vw;
  height: 40vw;
  border: none;
  animation: slideright 5s linear;
}
.bbSquare4 {
  width: 49vw;
  height: 40vw;
  border: none;
  animation: slideleft 5s linear;
}

.bbSquare5 {
  width: 49vw;
  height: 40vw;
  border: none;
  animation: slideleft 5s linear;
}

.centralTextDiv {
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralText {
  font-size: 200px;
  font-weight: 600;
  color: black;
  animation: textAppear 5s linear;
}

@keyframes textAppear {
  0% {
    opacity: 0
  };
  100% {
    opacity: 1
  };
}


.bbSquare6 {
  width: 49vw;
  height: 40vw;
  border: none;
}

.bbSquare7 {
  width: 49vw;
  height: 40vw;
  border: none;
}

.bbSquare8 {
  width: 100vw;
  height: 50vw;
  border: none;
}

@keyframes slideright {
  
  0% {
    transform: translateX(-100vw)
  };
  100% {
    transform: translateX(0vw)
  };
}

@keyframes slideleft {
  
  0% {
    transform: translateX(101vw)
  }
  100% {
    transform: translateX(0vw)
  }
}

/*BlockFrame*/
.bfContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bfSquare1 {
  width: 90vw;
  height: 30vw;
  background-color: #e8ded5;
  border-color:#e8ded5
}

.bfSquare2 {
  margin-top: -28vw;
  width: 30vw;
  height: 30vw;
  border: none;
}

.bfSquare3 {
  width: 30vw;
  height: 30vw;
  border: none;
}

.bfPictureRow {
  display: flex;
  justify-content: center;
}

/*Booklet*/

.bkltHeader {
  text-align: left;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;


}

.bkltLogo {
  display: flex;
  justify-content: left;
  margin-left: 10px;

}

.bkltNav {
  display: flex;
  justify-content: right;
  color: black;

}
.bkltSquare {
  border: solid;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
.bkltContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bkltSquare1 {
  width: 49vw;
  height: 45.5vw;
  border: none;
  margin-left: .25vw;
  margin-right: .25vw;
}

.bkltSquare2 {
  width: 49vw;
  height: 45.5vw;
  margin-left: .25vw;
  margin-right: .25vw;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
}

.bkltSquare3 {
  display: flex;
  align-items: center;
  height: 18vw;
  font-size: 125px;
  font-weight: 600;
  animation: textAppear;
  animation-timeline: view();
  color: black;
  /* position: absolute; */
}

.bkltSquare4 {
  width: 100vw;
}


@keyframes slideOutLeft {

  0% {
    transform : translateX(0)

  }
  100% {
    transform : translateX(-150vw)

  }
}

@keyframes slideOutRight {
  0% {
    transform : translateX(0)

  }
  100% {
    transform : translateX(150vw)

  }
  
}


/*TriFold*/
.tfSquare {
  border: solid;
  margin-left: .25vw;
  margin-right: .25vw;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
.tfContainer {
  border: solid;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tfSquare1 {
  width: 32vw;
  height: 50vw;
}

.tfSquare2 {
  width: 32vw;
  height: 50vw;
}
.tfSquare3 {
  width: 32vw;
  height: 50vw;
}

/*Mondrian*/
.monSquare {
  border: solid;
}

.monContainer {
  border: solid;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.monSquare1 {
  width: 10vw;
  height: 20vw;

}

.monSquare2 {
  width: 25vw;
  height: 20vw;
  
}

.monSquare3 {
  width: 15vw;
  height: 20vw;
  
}

.monSquare4 {
  width: 40vw;
  height: 40vw;
  
}

.monSquare5 {
  width: 20vw;
  height: 20vw;
  margin-top: -20vw;

}

.monSquare6 {
  width: 10vw;
  height: 20vw;
  margin-top: -20vw;
}

.monSquare7 {
  width: 20vw;
  height: 20vw;
  margin-top: -20vw;
  
}

.monSquare8 {
  width: 40vw;
  height: 15.5vw;
  
}
.monSquare9 {
  width: 28.4vw;
  height: 15.3vw;
  margin-top: -15.5vw;
  margin-left: -19vw;
}

.monSquare10 {
  width: 22vw;
  height: 15.3vw;
  margin-top: -15.5vw;
  margin-right:21vw;
  
}

.monSquare11 {
  width: 32vw;
  height: 20vw;
  margin-left: -20vw;
  
}

.monSquare12 {
  width: 40vw;
  height: 20vw;
  
}
.monSquare13 {
  width: 15vw;
  height: 20vw;
  
}

.monSquare14 {
  width: 15vw;
  height: 20vw;
  
}

/* animations */

.text1 {
  animation: twist 1s linear;
}

@keyframes twist {
  0% {
    transform: rotate(1turn);
  }
}

/*FixedBackground*/

.backgroundPic {
  width: 100vw;
  height: 100vh;
  opacity: .75;
  object-fit: cover;
}

.pageContent {
  width: 75vw;
  height: 70vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: solid;
  margin-top: 15vh;
  border-color: white;
}