:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.navbar{
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  font-size: 40px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
display: flex;
justify-content: right;
padding-left: 10px;
padding-right: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  margin-left: 10px;
  margin-right: 10px;
}

.shopProduct {
  width: 25vw;
  height: 28vw;
  margin-top: 3vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 5vw;
}

.shopProductTitle {
  display: flex;
  font-size: 25px;
}

.shopProductTitle:hover {
  text-decoration: underline;
}

.shopProductPhoto {
  margin-bottom: 1vw;
}

/* .shopProductPhoto:hover {
  border: solid;
  border-color: white;
  border-width: thick;
} */

.pageDivider {
  margin: 0 auto;
  width: 100vw;
  border-bottom: solid;
}


.square {
  border: solid;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.footer {
  width: 100vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #EEEEEE;
}


/*MOSAIC TEMPLATE*/
.mosaicContainer {
  border: solid;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mosaicSquare1 {
  width: 40vw;
  height: 20vw;

}

.mosaicSquare2 {
  width: 16vw;
  height: 20vw;
  
}

.mosaicSquare3 {
  width: 24vw;
  height: 20vw;
  
}

.mosaicSquare4 {
  width: 22.5vw;
  height: 20vw;
  
}

.mosaicSquare5 {
  width: 14vw;
  height: 20vw;

}

.mosaicSquare6 {
  width: 19vw;
  height: 20vw;
  
}

.mosaicSquare7 {
  width: 22.5vw;
  height: 20vw;
  
  
}

.mosaicSquare8 {
  width: 41vw;
  height: 20vw;
  
}
.mosaicSquare9 {
  width: 41.5vw;
  height: 20vw;

}

.mosaicSquare10 {
  width: 31vw;
  height: 20vw;
  
}

.mosaicSquare11 {
  width: 18.5vw;
  height: 20vw;
  
}

.mosaicSquare12 {
  width: 31vw;
  height: 20vw;
  
}

/*ALTERNATE SCALE TEMPLATE*/

.alternatingScaleContainer {
  border: solid;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.asSquare1 {
  width: 40vw;
  height: 20vw;

}

.asSquare2 {
  width: 25vw;
  height: 20vw;
  
}

.asSquare3 {
  width: 15vw;
  height: 20vw;
  
}

.asSquare4 {
  width: 15vw;
  height: 20vw;
  
}

.asSquare5 {
  width: 25vw;
  height: 20vw;
  
}

.asSquare6 {
  width: 40vw;
  height: 20vw;
  
}

.asSquare7 {
  width: 40vw;
  height: 20vw;
  
}

.asSquare8 {
  width: 25vw;
  height: 20vw;
  
}
.asSquare9 {
  width: 15vw;
  height: 20vw;

}

.asSquare10 {
  width: 15vw;
  height: 20vw;
  
}

.asSquare11 {
  width: 25vw;
  height: 20vw;
  
}

.asSquare12 {
  width: 40vw;
  height: 20vw;
}





/*DESCENDING SCALE TEMPLATE 2*/

.descendingScale2Container {
  border: solid;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.ds2Square1 {
  width: 40vw;
  height: 20vw;

}

.ds2Square2 {
  width: 25vw;
  height: 20vw;
  
}

.ds2Square3 {
  width: 15vw;
  height: 20vw;
  
}

.ds2Square4 {
  width: 84.5vw;
  height: 20vw;
  
}

.ds2Square5 {
  width: 40vw;
  height: 20vw;

}

.ds2Square6 {
  width: 25vw;
  height: 20vw;
  
}

.ds2Square7 {
  width: 15vw;
  height: 20vw;
  
}

.ds2Square8 {
  width: 84.5vw;
  height: 20vw;
  
}
.ds2Square9 {
  width: 40vw;
  height: 20vw;

}

.ds2Square10 {
  width: 25vw;
  height: 20vw;
  
}

.ds2Square11 {
  width: 15vw;
  height: 20vw;
  
}

.ds2Square12 {
  width: 84.5vw;
  height: 20vw;
  
}


/*VERTICAL ALTERNATING SQUARES 1*/

.vas1Container {
  border: solid;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.vas1Square1 {
  width: 20vw;
  height: 20vw;

}

.vas1Square2 {
  width: 40vw;
  height: 20vw;
  
}

.vas1Square3 {
  width: 20vw;
  height: 20vw;
  
}

.vas1Square4 {
  width: 84.5vw;
  height: 20vw;
  
}

.vas1Square5 {
  width: 20vw;
  height: 20vw;

}

.vas1Square6 {
  width: 40vw;
  height: 20vw;
}

.vas1Square7 {
  width: 20vw;
  height: 20vw;
  
}

.vas1Square8 {
  width: 84.5vw;
  height: 20vw;
  
}
.vas1Square9 {
  width: 20vw;
  height: 20vw;

}

.vas1Square10 {
  width: 40vw;
  height: 20vw;
  
}

.vas1Square11 {
  width: 20vw;
  height: 20vw;
  
}

.vas1Square12 {
  width: 84.5vw;
  height: 20vw;
  
}

/*Kaleidescope*/
.kldsContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideUp {
  0% {
    transform: translateY(50vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideUp {
  0% {
    transform: translateY(50vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideLeft{
  0% {
    transform: translateX(150vw)
  }
  100% {
    transform: translateX(0vw)
  }

}

@keyframes slideRight {
  0% {
    transform: translateX(-150vw)
  }
  100% {
    transform: translateX(0vw)
  }

}




.kldsSquare1 {
  width: 30vw;
  height: 20vw;
  border: none;

}

.kldsSquare2 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: red;
  animation: slideDown 3s linear;
  
}

.kldsSquare3 {
  width: 30vw;
  height: 20vw;
  border: none;
  
}

.kldsSquare4 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: blue;
  animation: slideRight 3s linear;
}

.kldsSquare5 {
  width: 30vw;
  height: 30vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 600;
  animation: textAppear 3s linear

}

.kldsSquare6 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: yellow;
  animation: slideLeft 3s linear;
}

.kldsSquare7 {
  width: 20vw;
  height: 20vw;
  border: none;
  background-color: green;
  animation: slideUp 3s linear;
  
}


/*Horizontal Alternating Squares*/
.hasContainer {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #9db7c9;
  background-color: #d8dee3;
}

.hasSquare1 {
  width: 20vw;
  height: 20vw;
  border: none;
}

.hasSquare2 {
  width: 30vw;
  height: 30vw;
  border: none;
}

.hasSquare3 {
  width: 20vw;
  height: 20vw;
  border: none;
}



/*Big Box 1*/

.bbHeading {
  position: absolute;
  left: 1vw;
  color: white;
}

.bbNav {
  position: absolute;
  right: 1vw;
  top: 3vw;
  color: white;
}

.bbFooter {
  background-color:#38598b;
  color: white;
}

.bbsquare {
  border: none;
  margin-top: .5vw;
  margin-bottom: .5vw;
  margin-left: .5vw;
  margin-right: .5vw;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.bbContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100vw;
  margin-top: 0;
  margin-bottom: .25;
  background-color: #113f67;
}

.bbSquare1 {
  width: 100vw;
  border: none;
  height: 57vw;
  margin-bottom: .25vw;
}

.bbTextBlock {
  width: 97vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #38598b;
  color: white;
  margin-top: .5vw;
  margin-bottom: .25vw;
}

.bbSquare2 {
  width: 48vw;
  height: 30vw;
  margin-top: .5vw;
  /* animation: slideright 5s linear; */
}

.bbSquare3 {
  width: 48vw;
  height: 30vw;
  border: none;
  margin-top: .5vw;
  /* animation: slideright 5s linear; */
}
.bbSquare4 {
  width: 48vw;
  height: 30vw;
  border: none;
  /* animation: slideleft 5s linear; */
}

.bbSquare5 {
  width: 48vw;
  height: 30vw;
  border: none;
  /* animation: slideleft 5s linear; */
}

.bbButton {
  position: absolute;
  font-size: 30px;
  background-color: transparent;
  border: solid;
  color: white;
  font-weight: 700;
}
.bbSquare8 {
  width: 97vw;
  height: 50vw;
  border: none;
  margin-top: .5vw;
  margin-bottom: 1vw;
}


@keyframes textAppear {
  0% {
    opacity: 0
  };
  100% {
    opacity: 1
  };
}


@keyframes slideright {
  
  0% {
    transform: translateX(-100vw)
  };
  100% {
    transform: translateX(0vw)
  };
}

@keyframes slideleft {
  
  0% {
    transform: translateX(101vw)
  }
  100% {
    transform: translateX(0vw)
  }
}

/*BlockFrame*/
.bfContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bfSquare1 {
  width: 90vw;
  height: 30vw;
  background-color: #e8ded5;
  border-color:#e8ded5
}

.bfSquare2 {
  margin-top: -28vw;
  width: 30vw;
  height: 30vw;
  border: none;
}

.bfSquare3 {
  width: 30vw;
  height: 30vw;
  border: none;
}

.bfPictureRow {
  display: flex;
  justify-content: center;
}

/*Booklet*/

.bkltHeader {
  text-align: left;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.bkltLogo {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.bkltNav {
  display: flex;
  justify-content: right;
  color: black;
}
.bkltSquare {
  border: solid;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
.bkltContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bkltEnterButton {
  position: absolute;
  background: white;
  font-size: 30px;
  border: solid;
}

.bkltSquare1 {
  width: 49vw;
  height: 46vw;
  margin-left: .25vw;
  margin-right: .25vw;
  border: none;
  display: flex;
  align-items: end;
  justify-content: center;
}

.bkltSquare2 {
  width: 49vw;
  height: 46vw;
  margin-left: .25vw;
  margin-right: .25vw;
  border: none;
  display: flex;
  align-items: end;
  justify-content: center;
}
.bkltHPButton {
  position: absolute;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 5%;
  /* text-decoration: underline; */
}

@keyframes slideOutLeft {

  0% {
    transform : translateX(0)

  }
  100% {
    transform : translateX(-150vw)

  }
}

@keyframes slideOutRight {
  0% {
    transform : translateX(0)

  }
  100% {
    transform : translateX(150vw)

  }
  
}

@keyframes slideOutLeft {

  0% {
    transform : translateX(0)

  }
  100% {
    transform : translateX(50vw)

  }
}

@keyframes slideToPlaceLeft {
  0% {
    transform : translateX(50vw)
    

  }
  100% {
    transform : translateX(0)

  }
}

  @keyframes slideToPlaceRight {
    0% {
      transform : translateX(-50vw)

    }
    100% {
      transform : translateX(0)
  
    }
  }

  /*Booklet*/

.bklt2Header {
  text-align: left;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.bklt2Logo {
  display: flex;
  justify-content: left;
  margin-left: 10px;
}

.bklt2Nav {
  display: flex;
  justify-content: right;
  color: black;
}
.bklt2Square {
  border: solid;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
.bklt2Container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bklt2Square1 {
  width: 49vw;
  height: 46vh;
  margin-left: .25vw;
  margin-right: .25vw;
  border: none;
  display: flex;
  align-items: end;
  justify-content: center;
}

.bklt2Square2 {
  width: 49vw;
  height: 46vh;
  margin-left: .25vw;
  margin-right: .25vw;
  border: none;
  display: flex;
  align-items: end;
  justify-content: center;
}
.bklt2HPButton {
  position: absolute;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  background-color: transparent;
  color: white;
  border: solid;
  border-radius: 5%;
  /* text-decoration: underline; */
}
  


/*TriFold*/

.tfHeader {
  text-align: left;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;


}

.tfLogo {
  display: flex;
  justify-content: left;
  margin-left: 1vw;

}

.tfNav {
  display: flex;
  justify-content: right;
  color: black;
  margin-right: 1vw;

}
.tfSquare {
  border: solid;
  margin-left: .25vw;
  margin-right: .25vw;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
.tfContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tfSquare1 {
  width: 32vw;
  height: 47vw;
  border: none;
  animation: imageAppear 1s linear;
}

.tfSquare2 {
  width: 32vw;
  height: 47vw;
  border: none;
  animation: imageAppear 2s linear;
}
.tfSquare3 {
  width: 32vw;
  height: 47vw;
  border: none;
  animation: imageAppear 3s linear;
}

/*TriFold 2*/
.tf2Header {
  text-align: left;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;


}

.tf2Logo {
  display: flex;
  justify-content: left;
  margin-left: 1vw;

}

.tf2Nav {
  display: flex;
  justify-content: right;
  color: black;
  margin-right: 1vw;
}
.tf2Square {
  border: solid;
  margin-left: .25vw;
  margin-right: .25vw;
  margin-top: 1vw; 
  margin-bottom: 1vw;
}
.tf2Container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  /* animation: disappear 1s; 
  animation-delay: 4s; 
  animation-fill-mode: forwards */
}


.tf2HomePageContent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.tf2EnterLink {
  /* position: absolute; */
  opacity: 0;
  font-size: 30px;
  margin-top: -1vw;
  border: solid;
  animation: imageAppear 3.8s;
  /* animation-delay: 2.5s; */
  animation-delay: 1s;
  animation-fill-mode: forwards;
  background-color: white;
}

.tf2HomePageText {
  opacity: 0;
  font-size: 100px;
  animation: imageAppear 3.8s;
  /* animation-delay: 2.5s; */
  animation-delay: 1s;
  animation-fill-mode: forwards;
  background-color: white;
}

.tf2Outline {
  width: 20vw;
  border-bottom: solid;
  color: black;
}

.tf2Square1 {
  width: 32vw;
  height: 47vw;
  border: none;
  animation: imageAppear 1s, imageDisappear 1s;
  /* animation: imageAppear 1s; */
  animation-fill-mode: forwards;
  animation-delay: 0s, 2.5s;
}

.tf2Square2 {
  width: 32vw;
  height: 47vw;
  border: none;
  animation: imageAppear 2s, imageDisappear 1s;
  /* animation: imageAppear 2s; */
  /* animation: imageAppearDisappear 2s linear; */
  animation-fill-mode: forwards;
  /* animation-delay: 0s, 3.2s; */
  animation-delay: 0s, 2.5s;

}
.tf2Square3 {
  width: 32vw;
  height: 47vw;
  border: none;
  animation: imageAppear 3s, imageDisappear 1s;
  /* animation: imageAppear 3s; */
  /* animation: imageAppearDisappear 3s linear; */
  animation-fill-mode: forwards;
  /* animation-delay: 0s, 3.9s; */
  animation-delay: 0s, 2.5s;
}

/* .bottomImage1 {
position: absolute;
left: 1.25vw;
width: 32vw;
height: 50vw;
margin-left: .25vw;
margin-right: .25vw;
opacity: 0;
animation: imageAppear 1s;
animation-fill-mode: both;
animation-delay:6s;
}

.bottomImage2 {
  position: absolute;
  left: 33.75vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: imageAppear 2s;
  animation-fill-mode: forwards;
  animation-delay:6s;
}

.bottomImage3 {
  position: absolute;
  left: 66.25vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: imageAppear 3s;
  animation-fill-mode: forwards;
  animation-delay:6s;
  } */

/* .bottomImage4 {
  position: absolute;
  left: 1.25vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: altImageAppear 1s;
  animation-fill-mode: both;
  animation-delay:12s;  
    
} 
.bottomImage5 {
  position: absolute;
  left: 33.75vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: altImageAppear 2s;
  animation-fill-mode: forwards;
  animation-delay:12s;
}
.bottomImage6 {
  position: absolute;
  left: 66.25vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: altImageAppear 3s;
  animation-fill-mode: forwards;
  animation-delay:12s;
}
.bottomImage7 {
  position: absolute;
  left: 1.25vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: altImageAppear 1s;
  animation-fill-mode: both;
  animation-delay:18s;


}

.bottomImage8 {
  position: absolute;
  left: 33.75vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: altImageAppear 2s;
  animation-fill-mode: forwards;
  animation-delay:18s;
}

.bottomImage9 {
  position: absolute;
  left: 66.25vw;
  width: 32vw;
  height: 50vw;
  margin-left: .25vw;
  margin-right: .25vw;
  opacity: 0;
  animation: altImageAppear 3s;
  animation-fill-mode: forwards;
  animation-delay:18s;
  } */

@keyframes imageAppear {
  0% {
    opacity: 0
  };
  25% {
    opacity: 0
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  };
}

@keyframes imageDisappear {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
} 
}


@keyframes imageAppearDisappear {
  0% {
    opacity: 0
  };
  25% {
    opacity: 0
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  };
}




/*Mondrian*/
.monSquare {
  border: solid;
}

.monContainer {
  border: solid;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.monSquare1 {
  width: 10vw;
  height: 20vw;

}

.monSquare2 {
  width: 25vw;
  height: 20vw;
  
}

.monSquare3 {
  width: 15vw;
  height: 20vw;
  
}

.monSquare4 {
  width: 40vw;
  height: 40vw;
  
}

.monSquare5 {
  width: 20vw;
  height: 20vw;
  margin-top: -20vw;

}

.monSquare6 {
  width: 10vw;
  height: 20vw;
  margin-top: -20vw;
}

.monSquare7 {
  width: 20vw;
  height: 20vw;
  margin-top: -20vw;
  
}

.monSquare8 {
  width: 40vw;
  height: 15.5vw;
  
}
.monSquare9 {
  width: 28.4vw;
  height: 15.3vw;
  margin-top: -15.5vw;
  margin-left: -19vw;
}

.monSquare10 {
  width: 22vw;
  height: 15.3vw;
  margin-top: -15.5vw;
  margin-right:21vw;
  
}

.monSquare11 {
  width: 32vw;
  height: 20vw;
  margin-left: -20vw;
  
}

.monSquare12 {
  width: 40vw;
  height: 20vw;
  
}
.monSquare13 {
  width: 15vw;
  height: 20vw;
  
}

.monSquare14 {
  width: 15vw;
  height: 20vw;
  
}

/* animations */

.text1 {
  animation: twist 1s linear;
}

@keyframes twist {
  0% {
    transform: rotate(1turn);
  }
}

/*FixedBackground*/

.backgroundPic {
  width: 100vw;
  height: 100vh;
  opacity: .75;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
 
}

.fbHeader {
  font-size: 100px;
  margin-top: 0;
  animation: textAppear2 1s;
}

.pageContent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-top: 15vh;
  /* border: solid;
  border-color: white;
  border-width: thick;  */
  color: white;
}

.menuCard {
  width: 30vw;
  height: 40vw;
  margin: 0 auto; 
  background-color: white;
}

.fixedBackgroundButtons {
  margin: 0 auto;
  width: 20vw;
  
}
.fbButton{
  width: 15vw;
  height: 4vw;
  border: solid;
  border-color: white;
  background-color: transparent;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.fbButton1 {
  animation: textAppear2 3s;

}
.fbButton2 {
  animation: textAppear2 4s;
  
}
.fbButton3 {
  animation: textAppear2 5s;
  
}

.contactDiv {
  animation: textAppear2 6s;

}

.contactInfo {
font-size: 25px;
font-weight: 600;
}
.fbBackButton {
  position: absolute;
  float: right;
  top: 2vh;
  right: 2vw;
  background: transparent;
  border-color: #118a7e;
  border-width: thick;
  color:#118a7e;
  font-weight: 800;
  font-size: 20px;

 
}

@keyframes textAppear2 {
  0% {
    opacity: 0
  };
  25% {
    opacity: 0
  };
  50% {
    opacity: 0
  };
  75% {
    opacity: 0
  };
  100% {
    opacity: 1
  };
}

/* Slide */

.sldBackgroundPic{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  animation: slideLeft 4s;
}

.sldHomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sldHeader {
  font-size: 300px;
  margin-top: 0;
}

.sldSubHeader {
  opacity: 0;
  left: 0;
  right: 0;
  margin-top: -28vh; 
  font-size: 120px;
  animation: imageAppear 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.sldContainer {
  display: flex; 
  flex-direction: column;
}



.sldPageContent {
  position: absolute;
  top: 30vh;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  color: white;
}

.sldNav {
  display: inline-flex;
  position: absolute;
  float: right;
  top: 2vh;
  right: 2vw;
  background: transparent; 
  border-color: white;
  border-width: thick;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.sldNavP2 {
  display: inline-flex;
  justify-content: right;
  top: 2vh;
  right: 2vw;
  background: transparent; 
  color: white;
  font-weight: 600;
  font-size: 20px;


}

.sldNavButton {
  margin-left: .25vw;
  margin-right: .25vw;
  background: transparent; 
  border-color: white;
  border-width: thick;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.sldNavLink {
  color: white;
}

.sldFooter {
  background-color:#fff6f6;
}

.sldContentBlock1 {
  width: 100vw;
  height: 100vh;
  color: white; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* animation: slideLeft;
  animation-timeline: view();
  animation-range: entry 0; */
  /* margin-top: -24px; */
}

.sldcb1Content {
  width: 30vw;
  height: 35vw;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* animation: slideRight;
  animation-timeline: view();
  animation-range: entry 0; */
}

.sldLinkText {
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
  width: 30vw;
}


.sldContentBlock2 {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* animation: slideRight;
  animation-timeline: view();
  animation-range: entry 0; */

}

.sldcb2Content {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* animation: slideLeft;
  animation-timeline: view();
  animation-range: entry 0; */
}



.sldSmallPhoto {
  width: 20vw;
  height: 21vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.sldCBText {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 60vw;
}

.sldTextBoxHeader {
  font-size: 90px;
  font-weight: 800;
}

.sldShopContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;

}

.sldP2Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
}



/* Slide-In */

.sldnBackgroundPic{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}

.sldnHeader {
 margin-top: 0;
 font-size: 300px;
 position: absolute;
 right: 0;
 left: 0;
 margin: 0 auto;
 color: white;
 z-index: 10;
 /* margin-top: -2vw; */
 animation: fadeToBlack 3s;
 animation-fill-mode: forwards;
 animation-delay: 3s;
}

.sldnHomeButton {
  position: absolute;
  font-size:30px;
  background-color: transparent;
  opacity: 0;
  border: solid;
  animation: imageAppear 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  margin-top: 25vw;
}

.sldnNav {
  display: flex;
  justify-content: right;
  color: black;
  position: absolute;
  width: 100vw;
}

.sldnBackButton {
  position: absolute;
  float: right;
  top: 2vh;
  right: 2vw;
  background: transparent; 
  border: solid;
  border-width: thick;
  font-weight: 600;
  font-size: 20px;
 
}
.slidingDivs {
  display: flex;
  align-items: center;
  border: solid;
  border-color: white;
}

.sldnDiv1 {
  width: 40vw;
  color: black;
  height: 40vw;
  background-color: black;
  animation: slideToPlaceRight 3s, imageDisappear 3s;
  animation-delay: 0s, 1s;
  /* animation: slideInSlideOutRight 5s; */
  animation-fill-mode: forwards;
}

.sldnDiv2 {
  width: 40vw;
  color: black;
  height: 40vw;
  background-color: black;
  animation: slideToPlaceLeft 3s, imageDisappear 3s;
  animation-delay: 0s, 1s;
  /* animation: slideInSlideOutLeft 5s; */
  animation-fill-mode: forwards;
}

.sldnContentBlock1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sldnContentBlock2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.sldnTextBlock {
  border: solid;
  width: 45vw;
  height: 26vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sldnImageBlock {
  border: solid;
  width: 45vw;
  height: 26vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sldnContentBlock3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sldnImageBlock2 {
  border: solid;
  width: 30vw;
  height: 40vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sldnContentBlock4 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sldnImageBlock4 {
  border: solid;
  width: 45vw;
  height: 40vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sldnTextBlock4 {
  border: solid;
  width: 45vw;
  height: 40vw;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeToBlack{
  0% {
    color: white;
  }
  100% {
    color: black;
  }

}
@keyframes fadeToWhite{
  0% {
    color: black;
  }
  100% {
    color: white;
  }

}


@keyframes slideInSlideOutRight{
  0% {
    transform : translateX(-150vw)
  }

  50% {
    transform : translateX(0)
  }
    
  100% {
    transform: translateY(150vh)

  }
}

@keyframes slideInSlideOutLeft{
  0% {
    transform : translateX(150vw)

  }
  50% {
    transform : translateX(0)

  }
  100% {
    transform : translateY(-150vw)
  }
}


/* Outline */

.outlnHeader2 {
  text-align: left;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.outlnLogo {
  display: flex;
  justify-content: left;
  margin-left: 1vw;
  border-bottom: solid;
  border-top: solid;
  padding: 5px;

}

.outlnNav {
  display: flex;
  justify-content: right;
  color: black;
  margin-right: 1vw;

}

.outlnBackgroundPic{
  width: 100vw;
  height: 100vh;
  background-color: #ffcab0;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.outlnPageContent {
  display: flex; 
  flex-direction: column;
}

.outlnHeader {
 margin-top: 0;
 font-size: 300px;
 top: 30vh;
 right: 0;
 left: 0;
 margin: 0 auto;
 color: black;
 z-index: 10;
 height: 30vh;
 display:flex;
 justify-content: center;
 align-items: center;
}

.outln1 {
  margin-right: 0;
  border-bottom: solid;
  border-width: thick;
  animation: slideToPlaceRight 3s;
  width: 65vw;
  margin: 0 auto;
}

.outln2 {
  border-bottom: solid;
  border-width: thick;
  width: 65vw;
  animation: slideToPlaceLeft 3s;
  margin: 0 auto;
}

.outlnContentBlock1 {
  height: 110vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: white;
  animation: disappear 1s, shiftDown 1s;
  animation-delay: 3s, 4s;
  animation-fill-mode: forwards;
}

.outlnContentBlock2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30vh;
  margin-top: 0;
}

.outlnMainImage {
  height: 75vh;
}

.outlnContentBlock3 {
  height: 100vh;
  width: 100vw;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outlnCb3Block {
  width: 48vw;
  height: 50vw;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.outlnContentBlock4 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#d3d6db;
  flex-wrap: wrap;
}

.outlnCb4Block {
  border: solid;
  width: 20vw;
  height: 25vw;
  margin-left: 1vw;
  margin-right: 1vw;
  justify-content: center;
  align-items: center;
}

.outlnContentBlock5 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outlnCb5Block {
  border: solid;
  width: 48vw;
  height: 50vw;
  justify-content: center;
  align-items: center;
}

.outlnContentBlock6 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#d3d6db;
}

.outlnCb6Block {
  border: solid;
  width: 30vw;
  height: 30vw;
  justify-content: center;
  align-items: center;
 
}



@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
} 
}

@keyframes shiftDown {
  100% {
    transform: translateY(20vw)
  }
}

/*Mosaic Grid*/


.mgSquare {
  margin-left: .5vw;
  margin-right: .5vw;
  margin-top: .5vw; 
  margin-bottom: .5vw;
}

.mgButton {
  margin-top: -3vw;
  background-color: white;
  border: solid;
  font-weight: 700;
  font-size: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  opacity: 0;
  animation: imageAppear 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

}

.mgHeader {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  margin-top: -2vw;
}

.mgLogo {
  display: flex;
  justify-content: left;
  margin-left: 1vw;
}

.mgNav {
  display: flex;
}

.mgNavLink {
  margin-left: .1vw;
  margin-right: .1vw;

}

.mosaicGridContainer {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: -1vw;
  
}

.mgSquare1 {
  width: 50vw;
  height: 21vw;
  opacity: 0;
  animation: imageAppear 1s;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

.mgSquare2 {
  width: 28vw;
  height: 21vw;
  opacity: 0;
  animation: imageAppear 1s;
  /* animation-delay: 2.5s; */
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  
}

.mgSquare3 {
  width: 18vw;
  height: 21vw;
  opacity: 0;
  animation: imageAppear 1s;
  /* animation-delay: 1s; */
  animation-delay: .8s;
  animation-fill-mode: forwards;
  
}

.mgSquare4 {
  width: 18vw;
  height: 21vw;
  margin-top: -1vw;
  opacity: 0;
  animation: imageAppear 1s;
  /* animation-delay: 1.5s; */
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  
}

.mgSquare5 {
  width: 28vw;
  height: 21vw;
  margin-top: -1vw;
  opacity: 0;
  animation: imageAppear 1s;
  /* animation-delay: 2s; */
  animation-delay: 2s;
  animation-fill-mode: forwards;
  
}

.mgSquare6 {
  width: 50vw;
  height: 21vw;
  margin-top: -1vw;
  opacity: 0;
  animation: imageAppear 1s;
  /* animation-delay: .5s; */
  animation-delay: .4s;
  animation-fill-mode: forwards;
  
}

/* Xylophone */

.xylpOpeningText {
  animation: slideUpDisappear 4s;
  animation-fill-mode: forwards;
  animation-delay:3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
}

@keyframes slideUpDisappear {
  0% {
    transform : translateY(0vh)
  
  }
  100% {
    transform : translateY(-100vh)
    
  }
}

.xylpHeader {
  text-align: left;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  animation: delayedAppear 7.5s;
  animation-fill-mode: forwards;
  border-bottom: solid;
}
@keyframes delayedAppear{
  0% {
    opacity: 0
  }
  25% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }

}

.xylpLargeText {
  font-size: 70px;
  padding: 1vw;

} 

.xylpLogo {
  display: flex;
  justify-content: left;
  margin-left: 2vw;

}

.xylpNav {
  display: flex;
  justify-content: right;
  color: black;
  margin-right: 2vw;

}


.xylpText {
 margin-top: 0;
 font-size: 200px;
 position: absolute;
 top: 35vh;
 right: 0;
 left: 0;
 margin: 0 auto;
 color: white;
 z-index: 10;
}

.xylpBackButton {
  position: absolute;
  float: right;
  top: 2vh;
  right: 2vw;
  background: transparent; 
  border-color: blue;
  border-width: thick;
  color: blue;
  font-weight: 600;
  font-size: 20px;
 
}
.slidingDivs {
  display: inline-flex;
}

.xylpSquare1 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown .5s;
  /* animation: slideToPlaceLeft .5s; */
}

.xylpSquare2 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown 1s;
  /* animation: slideToPlaceLeft 1s; */
}

.xylpSquare3 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown 1.5s;
  /* animation: slideToPlaceLeft 1.5s; */
}

.xylpSquare4 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown 2s;
  /* animation: slideToPlaceLeft 2s; */
}

.xylpSquare5 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown 2.5s;
  /* animation: slideToPlaceLeft 2.5s; */
}

.xylpSquare6 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown 3s;
  /* animation: slideToPlaceLeft 3s; */
}

.xylpSquare7 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown 3.5s;
  /* animation: slideToPlaceLeft 3.5s; */
}
.xylpSquare8 {
  width: 10vw;
  color: black;
  height: 40vw;
  background-color: #004445;
  animation: slideDown 3.55s;
  /* animation: slideToPlaceLeft 4s; */
}

.xlypContentBlock2 {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xlypCb2Block {
  width: 30vw;
  height: 30vw;
  color: black;
  margin-left: 1vw;
  margin-right: 1vw;
  /* animation: slideUpToPlace 8s; */
}

@keyframes slideUpToPlace {
  0% {
    transform: translateY(150vh);
  }
  50% {
    transform: translateY(100vh);
  }

  100% { 
    transform: translateY(0vh);
  }
}

.xlypContentBlock3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.xlypCb3Block {
  width: 48vw;
  height: 55vw;
  color: black;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: -12vh;
  animation: delayedAppear 7.5s;
  margin-top: 1vh;
}

.xlypCb3Block2 {
  width: 48vw;
  height: 55vw;
  color: black;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: -12vh;
  animation: delayedAppear 7.5s;
  margin-top: 1vh;
  background-color: #004445;
  color: white;
}


.outlinedBlock {
  border: solid;
}

.xlypContentBlock4 {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004445;
}

.xlypCb4Block {
  border: solid;
  width: 18vw;
  height: 40vh;
  color: black;
  margin-left: .5vw;
  margin-right: .5vw;
}

.xlypContentBlock5 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7vh;
  animation: delayedAppear 7.5s;
}

.xylpcb5pic {
  height: 75vh;
  width: 95vw;
}

.breakline {
  border-bottom: solid;
  width: 60vw;
  margin: 0 auto;

}

.verticalBreakline {
  border-right: solid;

}






/* Changingtext */

.ctBackgroundPic{
  width: 100vw;
  height: 100vh;
  background-color: #ffcab0;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.ctPageContent {
  display: flex; 
  flex-direction: column;
}

.ctHeader {
 margin-top: 0;
 font-size: 200px;
 top: 30vh;
 right: 0;
 left: 0;
 margin: 0 auto;
 color: black;
 z-index: 10;
 animation: changeText .5s;
}

.ctBackButton {
  position: absolute;
  float: right;
  top: 2vh;
  right: 2vw;
  background: transparent; 
  border-color: black;
  border-width: thick;
  color: black;
  font-weight: 600;
  font-size: 20px;
 
}

@keyframes changeText {
 
  0% {
    font-family: "Libre Barcode 128", system-ui; 
  }
  15% {
    font-family: "Flow Circular", system-ui;
    
  }
  30% {
  font-family: "Redacted Script", cursive;
    
  }
  45% {
    font-family: "Libre Barcode 128", system-ui; 
  }
  60% {
    font-family: "Flow Circular", system-ui;
    
  }
  75% {
  font-family: "Redacted Script", cursive;
    
  }
  100% {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
  }
}

/*Booklet*/

.bbkHeader {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.bbkLogo {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  color: white;
}

.bbkBlackLogo {
  display: flex; 
  width: 50vw;
}

.bbkNav {
  display: flex;
  justify-content: right;
  color: black;
  font-size: 20px;
  width: 50vw;
}

.bbkDivider {
  width: 100vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.bbkText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.bbkText:hover {
  color: black;
  text-decoration: underline;
}

.bbkSquare {
  margin-top: .25vw; 
  margin-bottom: .25vw;
}
.bbkContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.bbkShopContainer {
  display: flex; 
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 96vw;
}

.bbkShopContainerHeading {
  text-align: left;
  width: 96vw;
}

.bbkObjectContainer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}

.bbkLightingContainer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}

.bbkFurnitureContainer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}


.bbkSquare1 {
  width: 50vw;
  height:100vh;
  border: none;
  background-color: black;
  margin-bottom: .25vw;
  display: flex; 
  align-items: center;
}

.bbkTopText {
  width: 50vw;
  height: 100vh;
  font-size: 170px;
  font-weight: 600;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 1vw;
  margin-top: 2vw;
}

.bbkHomeLink {
  display: flex; 
  justify-content: left;
  width: 50vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  color: white;
}
.bbkHomeLink:hover {
  color: white;
  text-decoration: underline;
}

.bbkTopPhoto {
  width: 50vw;
  height: 100vh;
  /* margin-bottom: .5vw; */
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
   margin-bottom: .25vw;
}
.bbkMidPhoto {
  width: 50vw;
  height: 100vh;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
}
.bbkBottomPhoto {
  width: 100vw;
  height: 100vh;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  margin-top: .25vw;
}
.bbkTopMidPhoto {
  width: 100vw;
  height: 100vh;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  margin-bottom: .25vw;
}


.bbkTextBlock {
  width: 50vw;
  height: 100vh;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
}
.bbkContactHeader {
  position: absolute;
  color: white;
}
.bbkContactHeader:hover {
  color: white;
  text-decoration: underline;
}

.white {
  color: white;
}

.black {
  color: black;
}

/* .bbkProduct {
  animation: slideAppear .5s;
  animation-range-start: 20%;
} */

@keyframes slideAppear {
  0% {
    transform: translateY(-2vh)
  }

  100% {
    transform: translateY(0vh)
    
  }
}